.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 1140;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px ;
    padding-bottom: 5rem;
    
}
.project-card{
    background: #1a1919;
    padding: 1.2 rem 1rem;
}
.project-card{
    width: 100%;
}

.project-title{
    color: #fff;
    padding: 1re 0;

}

.pro-details{
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  color:#fff ;
}
.pro-btn{
    display: flex;
    justify-content: space-between;
    margin: auto;


}
.pro-btn .btn{
padding: 0.5rem 1 rem;

}